* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}



nav {
    background-color: #000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 80px;

}

nav .logo {
    font-size: 30px;
    color: whitesmoke;
    font-weight: 800;
    

}


nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0px 5px;
    padding: 10px 12px;


}

nav ul li a {
    font-size: 18px;
    font-weight: bold;

    text-decoration: none;
    padding: 10px;
    color: whitesmoke;
    padding: 10px;
    transition: all 0.3s ease;

}
nav  ul li a.active{
    color:  #00abf0;
     
 }

nav ul li a:hover {
    color: #00abf0;

}

#click {
    display: none;
}

nav .menubar i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}



@media (max-width:940px) {
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #000;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.5s ease;
    }

    nav ul li {
        margin: 20px 0;

    }

    nav ul li a {
        font-size: 20px;
        display: block;
        font-weight: 600;

    }

    nav ul li a:hover {
        color: #00abf0;

    }

    nav .menubar i {
        display: block;
    }

    #click:checked~ul {
        left: 0;

    }

    #clicked :checked~.menubar i:before {
        content: "\f00d";
    }
}






.mydiv {

    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 3rem;
}

.mydivcontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem;
}


input[type="number"],
select {
    width: 40%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 20px;
}


.btn1 {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    margin: auto;
}

.btn {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.btn1:hover {
    background-color: #555;
}



@media (max-width:940px) {
    .mydivcontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    input[type="number"]{
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 20px;
        

    }
     select {
        width: 90%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 20px;
    } 
    #option{
        font-size: 10px;
    }

    .btn {
        text-align: center;
    }
}







.container {
    display: flex;
    justify-content: center;
}

.card {
    text-align: center;
    width: 300px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.card h1 {
    font-size: 24px;
    margin: 10px 0;
}

.card img {
    border-radius: 5px;
    height: 225px;
    width: 300px;
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 500;

}

.card button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card button:hover {
    background-color: #555;
}

.card:hover {
    box-shadow: none;

}

@media only screen and (max-width: 940px) {
    .container {
        flex-direction: column;
        align-items: center;
        
    }
   
}




.Recipes {
    margin: 0px auto;
    padding: 4rem;
    max-width: 62.5rem;
}

#first-ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    margin-left: 3rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
    letter-spacing: 1px;



}

.cards {
    box-shadow: 0px 4px 8px 5px rgba(0, 0, 0, 0.2);
    background: linear-gradient(-90deg, #031540 100%, #fff);
    border-radius: 10px;
}

.Recipes h2 {
    text-align: center;
    color: #00abf0;
    padding-top: 20px;
}

.cards p{
    color: #fff;
    text-align: center;
    /* padding: 2rem; */
    font-size: 2rem;
    margin: 1rem;

}
#second-ol {
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-left: 3rem;
    margin-top: 2rem;
    letter-spacing: 1px;
}

#steps {
    margin-top: 3rem;
    padding-bottom: 2rem;
}

li {
    margin-bottom: 6px;

}



@media (max-width:940px) {



    #first-ul{
       
        grid-template-columns: repeat(1, 1fr);
        color: #fff;
        margin-left: 3rem;
        margin-top: 2rem;
        padding-bottom: 2rem;
        letter-spacing: 1px;
        margin-right:5px ;
    
    }

    #second-ol {
        display: flex;
        flex-direction: column;
        color: #fff;
        margin-left: 3rem;
        margin-top: 2rem;
        letter-spacing: 1px;
        margin-right:5px ;
    }


}


 .footer-content p{
    margin-top: 30px;
    height: 50px;   
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    
 }

 @media (max-width:540px) {
    .footer-content p{
       text-align: center;
       margin-top: 5px;
       margin-bottom: 5px;

    }





 }